.MuiOutlinedInput-input{
    background: #FFFF !important;
}

.short-underline{
    justify-content: flex-end;
    border: 2px solid #6295e3;
    width: 60px;
    background: #6295e3;
    justify-self: left;
}